# functions
snippet fn "define a function" b
#' @title
#' 
#' @description
#'
#' @param x A number.
#' @param y A number.
#'
#'
#' @return A number.
#'
#' @example
#'
#' export
#'
${1:function name} = function(${2:args}){
  type = class(df)
  dt = copy(df)
  $0

  return (restore_class(df, type))
}

