snippet \b "\begin"
\begin{$1}
$0
\end{$1}
endsnippet

snippet lat "article template"
\documentclass{article}

\usepackage{graphicx}

\title{$1}
\author{Matthew Bennett}

\begin{document}
    \maketitle
    \tableofcontents
    \listoffigures
    \newpage

    \section{$2}
    $0

    \newpage
    \bibliography{mybib}
    \bibliographystyle{apalike}
\end{document}
endsnippet
