
snippet "# "###" b
"##############################################################################
endsnippet

snippet "= "===" b
"==============================================================================
endsnippet

snippet "- "---" b
"------------------------------------------------------------------------------
endsnippet

snippet "{ "{{{--- }}}---" b
"{{{---------------------------------------------------------------------------
"}}}---------------------------------------------------------------------------
endsnippet

snippet fun "function!" b
function! ${1:Name}()
    $0
endfunction
endsnippet

snippet au "augroup" b
augroup ${1:name}
    autocmd!
    $0
augroup END
endsnippet

